.header-homepage {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-homepage img {
  transform: scale(0.4);
}

.header-restaurants {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-restaurants .back-button {
  position: absolute;
  transform: scale(2);
  left: 5%;
  bottom: 30%;
}
.header-restaurants .logo-top {
  transform: scale(0.4);
}

.restaurant-image-top {
  position: relative;
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.restaurant-menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  margin-top: -50px;
  align-self: center;
}
@media (min-width: 501px) {
  .restaurant-menu {
    margin: -50px 190px 0px 190px;
    padding-left: 210px;
    padding-right: 210px;
    width: 50%;
  }
}
.restaurant-menu .restaurant-menu-title {
  display: flex;
  flex-direction: row;
  gap: 35px;
  align-items: center;
  justify-content: center;
}
.restaurant-menu .restaurant-menu-title .like {
  flex-shrink: 0;
  width: 22px;
  height: 21px;
}
.restaurant-menu .restaurant-menu-title .like:hover {
  cursor: pointer;
  fill: pink;
}
.restaurant-menu .restaurant-menu-title p {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.courses {
  padding: 0px 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.courses .green-bar {
  width: 40px;
  height: 3px;
  background: #99e2d0;
}

.menu-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  padding: 5px 20px 40px 20px;
}
.menu-cards p {
  margin: 0px;
}
.menu-cards .menu-card-selected {
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 19px;
}
.menu-cards .menu-card-selected:hover .menu-card {
  transform: scaleX(0.85);
  border-radius: 19px 0px 0px 19px;
}
.menu-cards .menu-card-selected:hover .svg {
  transform: translateX(-100%);
}
.menu-cards .svg {
  position: relative;
  right: -74px;
  z-index: 1;
  width: 74px;
  height: 84px;
  transition: transform 500ms ease-in-out;
}
.menu-cards svg {
  width: auto;
  height: 84px;
}

.menu-card {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  border-radius: 19px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
  transform-origin: 0% 50%;
  transition: transform 500ms ease-in-out, border-radius 500ms ease-in-out;
}
@media (min-width: 501px) {
  .menu-card:hover {
    transform: scaleX(0.899);
    border-radius: 19px 0px 0px 19px;
  }
}
.menu-card .menu-card-title {
  text-overflow: ellipsis;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  overflow: hidden;
  transition: transform;
  transform-origin: 0% 50%;
}
.menu-card .menu-card-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.menu-card .menu-card-info .menu-card-price {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.commander-button {
  align-self: center;
  justify-self: center;
  border-radius: 35px;
  padding: 0px 20px;
  margin-bottom: 50px;
  border: none;
  filter: opacity(1);
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease;
}
.commander-button:hover {
  filter: opacity(0.85);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.commander-button p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 20px 35px 50px;
  background-color: #f6f6f6;
}
.introduction .intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.introduction .intro-text .intro-text-1 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.introduction .intro-text .intro-text-2 {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0px;
  text-align: center;
}
.introduction .explore-button {
  border-radius: 35px;
  padding: 0px 20px;
  border: none;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  filter: opacity(1);
  transition: all 300ms ease;
}
.introduction .explore-button:hover {
  cursor: pointer;
  filter: opacity(0.85);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.introduction .explore-button p {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.functionning {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 20px 60px;
}
@media (min-width: 501px) {
  .functionning {
    padding: 38px 180px 60px;
  }
}
.functionning h1 {
  align-self: flex-start;
}
.functionning .functionning-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (min-width: 501px) {
  .functionning .functionning-options {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
.functionning .functionning-options .option {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 27px;
  width: 332px;
  height: 72px;
  background-color: #f6f6f6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  filter: opacity(1);
  transition: all 300ms ease;
}
.functionning .functionning-options .option:hover {
  cursor: pointer;
  filter: opacity(0.85);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
.functionning .small-circle {
  position: relative;
  right: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.functionning .small-circle p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 54px 20px 70px 20px;
  background-color: #f6f6f6;
}
@media (min-width: 501px) {
  .restaurants {
    padding: 54px 180px 70px;
  }
}
.restaurants h1 {
  align-self: flex-start;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
@media (min-width: 501px) {
  .restaurants-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.nouveau {
  position: absolute;
  right: 15px;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 2px;
  background: #99e2d0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.nouveau span {
  color: #008766;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  filter: opacity(1);
  transition: all 300ms ease;
}
.card:hover {
  cursor: pointer;
  filter: opacity(0.85);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}
@media (min-width: 501px) {
  .card {
    width: 47%;
  }
}

.card-content {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text h3 {
  margin: 0px 0px 10px 0px;
}
.card-text p {
  margin: 0px;
}

.like {
  flex-shrink: 0;
  width: 22px;
  height: 21px;
}
.like:hover {
  cursor: pointer;
  fill: pink;
}

footer {
  background-color: #353535;
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
@media (min-width: 501px) {
  footer {
    flex-direction: row-reverse;
    gap: 50px;
    align-items: center;
    justify-content: flex-start;
    padding: 50px 30px 30px;
    border-radius: 20px 20px 0px 0px;
  }
}
footer img {
  flex-shrink: 0;
}
footer .footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
@media (min-width: 501px) {
  footer .footer-links {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
footer .footer-links a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
  width: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 501px) {
  body {
    width: 1440px;
    margin: 0 auto;
  }
}

.location-div {
  display: flex;
  gap: 17px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  margin: 0px;
}
.location-div p {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}