@import "./header";
@import "./introduction";
@import "./functionning.scss";
@import "./restaurants.scss";

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
  width: 100%;
  margin: 0px;
}

.location-div {
  display: flex;
  gap: 17px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;

  p {
    font-weight: 500;
  }
}
