.header-restaurants {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-restaurants .back-button {
  position: absolute;
  transform: scale(2);
  left: 5%;
  bottom: 30%;
}
.header-restaurants .logo-top {
  transform: scale(0.4);
}