@import "./header";
@import "./header-restaurants";
@import "./restaurants-menu";
@import "./introduction";
@import "./functionning.scss";
@import "./restaurants.scss";
@import "./footer.scss";

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fff;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  @media (min-width: 501px) {
    width: 1440px;
    margin: 0 auto;
  }
}

.location-div {
  display: flex;
  gap: 17px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  margin: 0px;

  p {
    font-weight: 500;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
